*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: #d3bcf6;
   font-family: 'Cedarville Cursive', cursive;
   font-size: 14px;
   color: black;
   background-color: pink;
   background-image: url(img/Fondo2.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}

/*--------------------nav------------------------*/

.Container{
	display: flex;
	height: 135px;
	width: 98%;
	margin: auto;
	margin-top: 20px;
	background-color: white;
	opacity: .85;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.nav-logo{
	margin-left: 10px;
	width: 100px;
	transition: 0.2s;
}

.nav-logo:hover{
	width: 105px;
}

.nav-main{
	font-family: cursive;
	font-size: 17px;

}

.nav-main ul{
	display: flex;
	padding-bottom: 15px;
	padding-top: 25px;
}

.nav-main ul li{
	padding: 20px;
}

.nav-main ul li a{
	padding: 8px;
	color: #f79fbe;
}

.nav-main ul li a:hover{
	border-bottom: 2px solid;
	cursor: pointer;
}

#boton-menu{
	display: none;
}

.icono-menu{
	display: none;
	font-size: 25px;
}

.icono-menu:hover{
	cursor: pointer;
	opacity: 0.50;
}

@media (max-width:768px){
   .Container{
      display: flex;
	   height: 100px;
	   width: 100%;
	   margin: auto;
	   background-color: white;
	   opacity: .85;
	   justify-content: space-between;
	   align-items: center;
	   flex-direction: row;
	   margin-top: 5px;
   }

   .nav-logo{
   	display: block;
	   margin-right: 40px;
	   width: 80px;
	   order: 3;
   }

   .icono-menu{
   	display: block;
   	color: pink;
   	font-size: 25px;
   	margin-left: 40px;
   	
   }

   .nav-main{
   	display: block;
   	position: absolute;
   	top: 105px;
   	right: 100%;
   	transition: 0.3s;
   	order: 1;
   }

   .nav-main ul{
   	flex-direction: column;
   	background-color: pink;
   }

   #boton-menu:checked ~ .nav-main{
   	right: 84%;
   }

}

/*--------------------Footer------------------------*/

@media (max-width:768px){

}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-image: url(img/fondoimagen7.jpg);
	border-radius: 10px;
	width: 100%;
   height: 240px;
   margin-top: 150px;
   font-family: monospace; 
   bottom: 0;
}

.map-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	order: 3;
	margin-right: 200px;
	width: 250px;
	height: 200px;
}

.titulo-map{
	font-family: monospace;
	color: beige;
}

.map{
	width: 200px;
	height: 150px;
}

.iconos-container{
   width: 300px;
   height: 70px;
   border-radius: 10px;
}

.info-contacto{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.icono-contacto{
	font-size: 35px;
	color: white;
	transition: 0.1s;
}

.icono-contacto:hover{
	font-size: 40px;
}

.footer-logo{
   margin-bottom: 193px;
	width: 48px;
	border-radius: 10px;
	order: 1;
}

/*----------------Diseño Home----------------------*/

@media (max-width:768px){
   #titulo-home{
	   font-family: 'Cedarville Cursive', cursive;
      letter-spacing: 4px;
      font-size: 40px;
      margin-right: 26%;
   }

   #container-infoHome{
   	height: 1150px;
   }

   #titulo-bienvenida{
   	font-size: 30px;
   }

   #img-container{
      height: 305px;
      width: 90%;
      display: flex;
	   justify-content: space-between;
	   align-items: center;
	   background-color: white;
	   background-image: url(img/fondoimagen.jpg);
	   background-size: cover;
      border-radius: 10px;
   }

   #img-home{
   	display: flex;
   	height: 300px;
	   width: 200px;
	   border-radius: 5px;
   }

   #titulo-destacados{
      font-size: 30px;
   }

   #container-imgDestacados{
      display: flex;
	   justify-content: space-around;
	   align-items: center;
	   background-color: beige;
	   width: 80%;
	   height: 150px;
	   background-image: url(img/fondoimagen2.jpg);
	   background-attachment: fixed;
	   background-size: cover;
	   border-radius: 7px;
   }

   #img-destacados{
   	width: 110px;
	   height: 120px;
   }

}

.titulo-home{
	font-family: 'Cedarville Cursive', cursive;
   letter-spacing: 9px;
   font-size: 60px;
   margin-left: 27%;
}

.titulo-destacados{
	background-color: white;
	letter-spacing: 5px;
	border-radius: 10px;
	opacity: .85;
	width: 60%;
 	font-size: 40px;
   text-align: center;
 	letter-spacing: 5px;
}

.container-infoHome{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 1300px;
	margin-top: 50px;
	justify-content: space-around;
}

.titulo-bienvenida{
	text-align: center;
	width: 55%;
   background-color: white;
   font-size: 40px;
	letter-spacing: 7px;
	border-radius: 15px;
}

.img-container{
	width: 85%;
	height: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	background-image: url(img/fondoimagen.jpg);
	background-size: cover;
   border-radius: 10px;  
}

.img-home{
	height: 450px;
	width: 350px;
	border-radius: 5px;
	transition: 0.3s;
}

.img-home:hover{
	width: 390px;
	height: 500px;
}

.texto-bienvenida{
   display: flex;
	background-color: #f6d1de;
	width: 80%;
	height: 100px;
	align-items: center;
	border-radius: 10px;
}

#texto{
	font-size: 19px;
	font-family: monospace;
	text-align: center;
}

.container-imgDestacados{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: beige;
	width: 80%;
	height: 250px;
	background-image: url(img/fondoimagen2.jpg);
	background-attachment: fixed;
	background-size: cover;
	border-radius: 7px;
}

.img-destacados{
	width: 196px;
	height: 200px;

}

/*----------------Diseño Contacto--------------------*/

@media (max-width:768px){
   #titulo-contacto{
   	font-size: 40px;
   	margin-right: 20%;
   }
 
   #consulta{
   	letter-spacing: 4px;
   	width: 60%;
   }

}

.titulo-contacto{
   font-family: 'Cedarville Cursive', cursive;
   letter-spacing: 9px;
   font-size: 55px;
   margin-left: 26%;
}

.consulta{
	background-color: white;
   width: 35%;
	text-align: center;
   font-size: 20px;
   letter-spacing: 4px;
   border-radius: 10px;
   opacity: .85;
}

.container-boxConsulta{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
	width: 100%;
	height: 650px;
	margin-top: 50px;
}

.box-consulta{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 500px;
   border: none;
}

label{
	font-family: cursive;
}
  
.input-contacto{
	text-align: center;
	width: 63%;
	height: 35px;
	border-radius: 10px;
}

textarea{
   width: 450px;
   height: 110px;
   text-align: center;
}

.boton-contacto{
	border: none;
	border-radius: 7px;
	width: 110px;
	height: 20px;
	transition: 0.2s;
}

.boton-contacto:hover{
	background-image: linear-gradient(to right , hotpink , violet);
	transform: scale(1.1);
	border-radius: 11px;
	cursor: pointer;
}

/*---------------Diseño Diseños---------------------*/

@media (max-width:768px){
	#titulo-diseños{
		font-size: 40px;
		margin-right: 10%;
	}

	#img-item{
		height: 280px;
		width: 210px;
		
	}

   #img-diseño{
   	width: 190px;
   	height: 190px;
   	margin-top: 8px;
   	margin-left: 10px;
   }

   #desc-img{
	   position: absolute;
	   font-family: cursive;
	   font-size: 16px;
      left: 17px;
	   top: 218px;
   }

   #container-diseños{
   	width: 70%;
   	grid-gap: 100px;
      grid-auto-rows: 230px;
      margin-left: 100px;
   }

}

.titulo-diseños{
	font-family: 'Cedarville Cursive', cursive;
   letter-spacing: 9px;
   font-size: 55px;
   margin-left: 26%;
}

.container-diseños{
	display: grid;
	width: 90%;
	margin: auto;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 200px;
	padding: 40px;
	grid-gap: 95px;
	margin-left: 100px;
}

.img-diseño{
	width: 230px;
	height: 230px;
	margin-top: 10px;
	margin-left: 10px;
	object-fit: cover;
	border-radius: 5px;
}

.img-item{
	position: relative;
	grid-column-start: span 1;	
	background-color: white;
	background-image: url(img/fondoimagen.jpg);
	height: 250px;
}

.desc-img{
   position: absolute;
	font-family: cursive;
	font-size: 1rem;
   left: 320px;
	top: 30px;
}
/*----------------Diseño Precios--------------------*/              

@media (max-width:768px){
   #titulo-precios{
   	margin-right: 20%;
   }
}

.titulo-precios{
	font-family: 'Cedarville Cursive', cursive;
   letter-spacing: 9px;
   font-size: 55px;
   margin-left: 27%;
}

.container-tablasPrecios{
	height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.titulo-lista{
	color: white;
	font-family: monospace;
	font-size: 20px;
	background-color: black;
	width: 15%;
	border-radius: 6px;
	margin-top: 50px;
	padding: 3px;
   text-align: center;
}

.titulo-decoExtra{
	color: white;
	font-family: monospace;
	font-size: 21px;
	background-color: black;
	width: 15%;
	border-radius: 6px;
	margin-top: 50px;
	padding: 3px;
   text-align: center;
}

.tabla-precios1{
	background-color: white;
	text-align: center;
   font-family: monospace;
   height: 170px;
   width: 230px;
   font-size: 15px;
   border-radius: 10px;
   padding: 5px;
}

.tabla-precios2{
	background-color: white;
	text-align: center;
   font-family: monospace;
   height: 170px;
   width: 230px;
   font-size: 15px;
   border-radius: 10px;
   padding: 5px;
}

.tabla-precios3{
	background-color: white;
	text-align: center;
   font-family: monospace;
   height: 170px;
   width: 330px;
   font-size: 15px;
   border-radius: 10px;
   padding: 5px;
}

/*----------------Diseño Turnos--------------------*/

@media (max-width:768px){

}

.titulo-turnos{
	font-family: 'Cedarville Cursive', cursive;
   letter-spacing: 9px;
   font-size: 55px;
   margin-left: 27%;
}

.boton-armaTurno{
   background-color: white;
   margin-top: 50px;
   width: 150px;
   padding: 5px;
   text-align: center;
   border-radius: 7px;
   margin-left: auto;
   margin-right: 100px;
   font-family: monospace;
	color: black;
	transition: 0.2s;
}

.boton-armaTurno:hover{
	background-image: linear-gradient(to right , hotpink , white);
	transform: scale(1.2);
	border-radius: 12px;
	cursor: pointer;
}

.container-tablasTurnos{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	height: 500px;
}

.titulo-duracionServicio{
   background-color: white;
   width: 32%;
	text-align: center;
   font-size: 23px;
   letter-spacing: 4px;
   border-radius: 10px;
   opacity: .85;
}

.tabla-duracionServicio{
	font-family: cursive;
	border-collapse: collapse;
	width: 650px;
	height: 170px;
}

#th1{
	background-color: #f3a8c2;
}

#th2{
	background-color: #f6d1de;

}
#td1{
	background-color: white;
}  

.titulo-disponibilidad{
	background-color: white;
   width: 20%;
	text-align: center;
   font-size: 23px;
   letter-spacing: 4px;
   border-radius: 10px;
   opacity: .85;
}

.tabla-disponibilidad{
	background-color: white;
	font-family: cursive;
	border-collapse: collapse;
	width: 650px;
	height: 115px;
}
/*--------------Diseño Arma tu turno-------------*/

@media (max-width:768px){

}

.titulo-armadoTurno{
	font-family: 'Cedarville Cursive', cursive;
   letter-spacing: 9px;
   font-size: 45px;
   margin-left: 21%;
}

.tuTurno{
	background-color: white;
   width: 25%;
	text-align: center;
   font-size: 23px;
   letter-spacing: 4px;
   border-radius: 10px;
   opacity: .85;
}

.container-boxTurno{
	display: flex;
	margin-top: 50px;
	height: 500px;
   justify-content: space-around;  
	flex-direction: column;
   align-items: center;
}

.container-dias_horarios{
	display: flex;
	flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 300px;
   width: 550px;
   border-radius: 10px;
}

.box-dias{
	background-color: pink;
	display: flex;
	width: 500px;
	font-family: monospace;
	border: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.box-botonTurno{
	display: flex;
   justify-content: space-around;
   border: none;
}

.boton-enviarTurno{
	width: 90px;
	border: none;
	padding: 2px;
   transition: 0.1s;
}

.boton-enviarTurno:hover{
	background-image: linear-gradient(to left , violet , pink);
	border-radius: 3px;
	cursor: pointer;
	border-radius: 3px;
}

.box-horarios{
	background-color: pink;
   display: flex;
   width: 510px;
   font-family: monospace;
   border: none;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#dia{
	font-size: 17px;
	padding: 10px;
}

#horario{
	font-size: 16px;
	padding: 10px;
}